"""
"""
SECRET_KEY = 'Your secret key'

# Allowed host for CORS 
ALLOWED_HOSTS = []

DATABASES = {
     'development':{
        'SERVICE_NAME':'********',
        'USER': '********',
        'PASSWORD': '********',
        'HOST': '********',
        'PORT': '********',

    },
     'production':{
        'SERVICE_NAME':'********',
        'USER': '********',
        'PASSWORD': '********',
        'HOST': '********',
        'PORT': '********',

    },
     'testing':{
        'SERVICE_NAME':'********',
        'USER': '********',
        'PASSWORD': '********',
        'HOST': '********',
        'PORT': '********',

    }
}